<!DOCTYPE html>
<html>
  <head>
    <title>WebFS</title>
    <style>
      .size {
        text-align: right;
      }
    </style>
    <script>
      
    </script>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <td>name</td>
          <td>size</td>
          <td>chaned (utc)</td>
          <td></td>
        <tr>
      </thead>
      <tbody>
        <h1>
          <% title_elements.each do |element| -%><a href="<%= "#{element}/".relative_to root %>"><%= File.basename "#{element}".relative_to root %>/</a><% end %>
        </h1> 
        <% sorted_entries.each do |entry| %>
          <tr>
            <td class=path>
              <a href="<%= "#{request_path}/#{File.basename entry}" %>">
                <%= File.basename entry %>
              </a>
            </td>
            <td class=size>
              <%= File.size(entry).to_i.to_si %>
            </td>
            <td class=modified>
              <%= File.info(entry).modification_time.to_utc.to_s "%y-%m-%d %H:%M:%S" %>
            </td>
            <td class=delete>
              <a href="<%= "#{request_path}/#{File.basename entry}" %>">delete</a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <form enctype=multipart/form-data action="<%= "#{request_path}/" %>" accept-charset=UTF-8 method=post>
      <input name=utf8 type=hidden value="&#x2713;" />
      <input type=file name=file />
      <input type=submit name=commit value=upload data-disable-with=upload />
    </form>
  </body>
</html>
