<%= files %>

<form enctype="multipart/form-data" action="/" accept-charset="UTF-8" method="post">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input type="hidden" name="path" id="path" value="/Users/mwiegand/Projekte/file-explorer/tmp" />
  <input type="file" name="file" id="file" />
  <input type="submit" name="commit" value="upload" data-disable-with="upload" />
</form>
