<!DOCTYPE html>
<html>
  <head>
    <title>WebFS</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <td>Name</td>
          <td>Size</td>
          <td>Changed</td>
          <td>Delete</td>
        <tr>
      </thead>
      <tbody>
        <h1>
          <%= requested_path %>
        </h1>
        <%- sorted_entries.each do |path| %>
          <tr>
            <td><%= File.basename path %></td>
            <td><%= File.size path %></td>
            <td><%= File.info(path).modification_time %></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <form enctype=multipart/form-data action=/ accept-charset=UTF-8 method=post>
      <input name=utf8 type=hidden value="&#x2713;" />
      <input type=hidden name=password value="<%= password %>" />
      <input type=hidden name=path value=/Users/mwiegand/Projekte/file-explorer/tmp />
      <input type=file name=file />
      <input type=submit name=commit value=upload data-disable-with=upload />
    </form>
  </body>
</html>
