<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>WebFS</title>
    <style>
      html {
        font-family: sans-serif;
      }
      body {
          margin: 1.5rem;
      }
      a {
        text-decoration: none;
      }
      table {
        border-collapse: separate;
        border-spacing: 0 .4rem;
        width: 100%;
      }
      tr:not(:first-child) td {
        border-top: .07rem solid rgba(0, 0, 0, .1);
        padding-top: .4rem;
      }
      td:not(:first-child) {
        padding-left: .6em;
      }
      .size, .modified, .delete {
        white-space: nowrap;
        text-align: right;
      }
      .footer {
        margin-top: 1rem; 
        text-align: right;
      }
      .footer li {
        display: inline-block;
        list-style-type: none;
      }
      .footer li:not(:first-child):before {
        content: '•';
        padding: 0 .5em
      }
      .footer li form {
        display: inline-block;
      }
    </style>
    <script>
      
    </script>
  </head>
  <body>
